body {
  background-color: #E5E5E5;
}

header {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  background-color: #5bc0de;
}
header h1 {
  margin: 0;
  padding: 0;
}

.box {
  height: 100%;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 19px;
  margin: 5px;
}

.box h2 {
  margin-top: 0;
}

.contact {
  text-align: center;
}

ul.underground-station {
  padding-left: 20px;
}

ul.underground-station li:before {
  left: -11px;
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  background-color: white;
}

ul.underground-station li {
  min-height: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-left-width: 4px;
  border-left-style: solid;
  position: relative;
  list-style: none outside none;
}

#Formations ul.underground-station li:before { border-color: #f0ad4e; background-color: #f0ad4e; }
#Formations ul.underground-station li.current:before { background-color: white; }
#Formations ul.underground-station li { border-left-color: #f0ad4e; }
#Formations ul.underground-station li:last-child { border-color: transparent; }

#Experiences ul.underground-station li:before { border-color: #5cb85c; background-color: #5cb85c; }
#Experiences ul.underground-station li.current:before { background-color: white; }
#Experiences ul.underground-station li { border-left-color: #5cb85c; }
#Experiences ul.underground-station li:last-child { border-color: transparent; }
